In [12]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [5]:
data = np.random.randint(0,100,(10,2))

In [6]:
data

array([[79, 26],
       [94,  8],
       [ 2, 74],
       [66, 33],
       [ 1, 88],
       [89, 67],
       [ 6,  2],
       [39, 64],
       [29, 68],
       [78, 43]])

In [8]:
scaler_model = MinMaxScaler()

In [9]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [10]:
scaler_model.fit(data)

/Users/shane/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [11]:
scaler_model.transform(data)

array([[ 0.83870968,  0.27906977],
       [ 1.        ,  0.06976744],
       [ 0.01075269,  0.8372093 ],
       [ 0.69892473,  0.36046512],
       [ 0.        ,  1.        ],
       [ 0.94623656,  0.75581395],
       [ 0.05376344,  0.        ],
       [ 0.40860215,  0.72093023],
       [ 0.30107527,  0.76744186],
       [ 0.82795699,  0.47674419]])

In [14]:
mydata = np.random.randint(0,101,(50,4))

In [15]:
mydata

array([[ 59,  78,  47,  55],
       [ 92,   0,   6,  76],
       [ 33,   0,   0,  19],
       [  4,  74,  15,  35],
       [ 84,  52,  87,   4],
       [ 76,  47,  86,   4],
       [ 87,  39,  37,  93],
       [ 66,  39,  75,  20],
       [ 23,  18,  30,   0],
       [ 26,  40,  84,  56],
       [ 93,  77,  28,  27],
       [ 57,  58,   3,  79],
       [ 58,  96,  49,  89],
       [  2,  85,  81,  52],
       [ 63,  50,  30,  72],
       [  0,  75,  93,  59],
       [ 32,  61,  23,  14],
       [  0,  92,  12,  46],
       [ 70,  27,  63,   6],
       [ 41,  46,   1,  34],
       [ 21,   5,  58,  95],
       [ 34,  16,  20,  80],
       [ 77,  65,  96,  47],
       [ 92,  20,  28,  88],
       [ 51,  35,  60,   4],
       [ 65,  39,  12,  99],
       [  6,  13,  59,  29],
       [ 75,  82,  18,  25],
       [ 33,   4,  79,  12],
       [ 21,  39,  41,  60],
       [ 49,  82,  88,  72],
       [  7,  35,  18,  46],
       [ 57,  76,  95,  72],
       [ 38,  48, 100,  18],
       [  8,  94,  85,  40],
       [ 51,  34,   1,  94],
       [ 55,  86,  64,   1],
       [ 87,  29,  40,   5],
       [ 81,  24,  70,  37],
       [ 24,  96,   8,  72],
       [ 80,   0,  79,  74],
       [ 88,  81,  34,  22],
       [ 93,  18,  43,  80],
       [ 90,  27,  46,  32],
       [ 14,  21,  50,  32],
       [ 25,  18,  96,  65],
       [ 68,  58,   6,  34],
       [ 86,  78,  19,  34],
       [  1,  25,   0,   2],
       [ 16,  70,  29,  35]])

In [21]:
df = pd.DataFrame(data=mydata, columns = ['F1','F2','F3', 'Label'])

In [22]:
df

    F1  F2   F3  Label
0   59  78   47     55
1   92   0    6     76
2   33   0    0     19
3    4  74   15     35
4   84  52   87      4
5   76  47   86      4
6   87  39   37     93
7   66  39   75     20
8   23  18   30      0
9   26  40   84     56
10  93  77   28     27
11  57  58    3     79
12  58  96   49     89
13   2  85   81     52
14  63  50   30     72
15   0  75   93     59
16  32  61   23     14
17   0  92   12     46
18  70  27   63      6
19  41  46    1     34
20  21   5   58     95
21  34  16   20     80
22  77  65   96     47
23  92  20   28     88
24  51  35   60      4
25  65  39   12     99
26   6  13   59     29
27  75  82   18     25
28  33   4   79     12
29  21  39   41     60
30  49  82   88     72
31   7  35   18     46
32  57  76   95     72
33  38  48  100     18
34   8  94   85     40
35  51  34    1     94
36  55  86   64      1
37  87  29   40      5
38  81  24   70     37
39  24  96    8     72
40  80   0   79     74
41  88  81   34     22
42  93  18   43     80
43  90  27   46     32
44  14  21   50     32
45  25  18   96     65
46  68  58    6     34
47  86  78   19     34
48   1  25    0      2
49  16  70   29     35

In [23]:
X = df[['F1','F2','F3']]

In [29]:
y = df[['Label']]

In [30]:
y

    Label
0      55
1      76
2      19
3      35
4       4
5       4
6      93
7      20
8       0
9      56
10     27
11     79
12     89
13     52
14     72
15     59
16     14
17     46
18      6
19     34
20     95
21     80
22     47
23     88
24      4
25     99
26     29
27     25
28     12
29     60
30     72
31     46
32     72
33     18
34     40
35     94
36      1
37      5
38     37
39     72
40     74
41     22
42     80
43     32
44     32
45     65
46     34
47     34
48      2
49     35

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [34]:
X_train.shape

(35, 3)

In [35]:
X_test.shape

(15, 3)